<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<div style="background-color: #d3d3d3;">
{% load i18n %}
<div class="container">
<a href="{{ request.GET.next }}">
    Página Inicial
</a>
{% if form.non_field_errors %}
<ul>
    {% for error in form.non_field_errors %}
    <li>• {{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if 'inactive' in form.errors.as_json %}
<a href="{% url 'resend_activation' %}" name="action">
    <input type="submit" name="login" value="{% trans 'Re-send activation email' %}">
</a>
{% endif %}
<div class="row text-center">
    <div class="col-12">
        <img width="100" src="{% static 'images/brasao_amapa.png' %}" alt="Brasão do Governo do estado">
        <h4><strong>Governo do Estado do Amapá</strong></h4>
    </div>
</div>
<br>
<div class="row text-center">
    <div class="col-md-2 col-12"></div>
    <div class="col-md-4 col-12">
        <div class="card card-body">

            <h3 class="text-center"><strong>Entrar</strong></h3><br>
            <form name="login" action="{% url 'widget_login' %}?next={{ request.GET.next }}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {% if form.username.errors %}
                    <label for="username">• {% trans "Email is a necessary field" %}</label>
                    {% endif %}
                    <input class="form-control" type="username" name="username" placeholder="{% trans 'Email' %}">

                </div>
                <div class="form-group">
                    {% if form.password.errors %}
                    <label for="password">• {% trans "Password is a necessary field" %}</label>
                    {% endif %}
                    <input class="form-control" type="password" name="password" placeholder="{% trans 'Password' %}">
                </div>
                <div class="form-group">


                </div>
                <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                <input class="btn btn-success" type="submit" name="login" value="{% trans 'Log in' %}">
            </form>
        </div>
        <br>

    </div>
    <div class="col-md-4 col-12">

        <div class="card card-body">
            <h3 class="text-center"><strong>Registrar</strong></h3> <br>
            <form name="signup" action="{% url 'widget_signup' %}?next={{ request.GET.next }}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" type="first-name" name="first_name"
                           placeholder="{% trans 'First name' %}">
                </div>
                <div class="form-group">
                    <input class="form-control" type="last-name" name="last_name" placeholder="{% trans 'Last name' %}">
                </div>
                <div class="form-group">
                    {% if form.email.errors %}
                    <label for="email">• {% trans "Email is a necessary field" %}</label>
                    {% endif %}
                    <input class="form-control" type="email" name="email" placeholder="{% trans 'Email' %}">
                </div>
                <div class="form-group">
                    {% if form.password1.errors %}
                    <label for="password1">• {% trans "Password is a necessary field" %}</label>
                    {% endif %}
                    <input class="form-control" type="password" name="password1" placeholder="{% trans 'Password' %}">
                </div>
                <div class="form-group">
                    {% if form.password2.errors %}
                    <label for="password2">• {% trans "Confirm Password is a necessary field" %}</label>
                    {% endif %}
                    <input class="form-control" type="password" name="password2"
                           placeholder="{% trans 'Confirm your password' %}">
                </div>

                <input class="btn btn-success" type="submit" name="signup" value="{% trans 'Sign Up' %}">
            </form>
        </div>
        <br>

    </div>
    <div class="col-md-2 col-12"></div>
</div>
</div>
</div>
</body>
</html>