<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
    <title>Entrar</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js" defer></script>

    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
</head>
<body style="background-color: #d3d3d3;">
{% load i18n %}

<div class="row text-center">
    <div class="col-12">
        <img width="100" src="{% static 'images/brasao_amapa.png' %}" alt="Brasão do Governo do estado">
        <h4><strong>Governo do Estado do Amapá</strong></h4>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-12"></div>
    <div class="col-md-4 col-12">
        <div class="card card-body text-center">

            <h3 class="text-center"><strong>Entrar</strong></h3><br>
            <form method="post" action=".">
                {% csrf_token %}
                <div class="form-group">
                    {% if form.username.errors %}
                    <label for="username">• {% trans "Email is a necessary field" %}</label>
                    {% endif %}
                    <input class="form-control" type="username" name="username" placeholder="{% trans 'Email' %}">

                </div>
                <div class="form-group">
                    {% if form.password.errors %}
                    <label for="password">• {% trans "Password is a necessary field" %}</label>
                    {% endif %}
                    <input class="form-control" type="password" name="password" placeholder="{% trans 'Password' %}">
                </div>
                <div class="form-group">


                </div>
                <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                <input class="btn btn-success" type="submit" name="login" value="{% trans 'Log in' %}">
            </form>
            <br>
            <p>Esqueceu sua senha? <a href="{% url 'password_reset' %}">Recuperar</a>!</p>
            <p>Não possuí cadastro? <a href="{% url 'register' %}">Registrar</a>!</p>
            <a href="{% url 'home' %}">Página Inicial</a>
        </div>
        <p sytle="font-size: 10pt !important;">Centro de Gestão em Tecnologia da Informação do Amapá - PRODAP.</p>


        <br>
    </div>
    <div class="col-md-4 col-12"></div>
</div>


</body>
</html>
