<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
    <title>Registre-se</title>
     <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js" defer></script>

    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
</head>
<body style="background-color: #d3d3d3;">
{% load i18n %}
<div class="row text-center">
    <div class="col-12">
        <img width="100" src="{% static 'images/brasao_amapa.png' %}" alt="Brasão do Governo do estado">
        <h4><strong>Governo do Estado do Amapá</strong></h4>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-12"></div>
    <div class="col-md-4 col-12">
        <div class="card card-body text-center">
            <h3 class="text-center"><strong>Cadastre-se</strong></h3><br>
            <form method="post" action=".">
          {% csrf_token %}
            <div class="form-group">
                <input class="form-control" type="first-name" name="first_name"
                       placeholder="{% trans 'First name' %}" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="last-name" name="last_name" placeholder="{% trans 'Last name' %}" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="cpf" name="cpf" data-mask="000.000.000-00" placeholder="Informe seu CPF" required>
            </div>

            <div class="form-group">
                {% if form.email.errors %}
                <label for="email">{% trans "Email is a necessary field" %}</label>
                {% endif %}
                <input class="form-control {% if form.email.errors %} is-invalid {% endif %}" type="email" name="email" placeholder="{% trans 'Email' %}">
            </div>
            <div class="form-group">
                {% if form.password1.errors %}
                <label for="password1">• {% trans "Password is a necessary field" %}</label>
                {% endif %}
                <input class="form-control {% if form.password1.errors %} is-invalid {% endif %}" type="password" name="password1" placeholder="{% trans 'Password' %}">
                <p style="color: red !important; font-size:11pt;" id="password1Help">A senha precisa conter letras e números. Exemplo: amapa2019</p>
            </div>
            <div class="form-group">
                {% if form.password2.errors %}
                <label for="password2">• {% trans "Confirm Password is a necessary field" %}</label>
                {% endif %}
                <input class="form-control {% if form.password2.errors %} is-invalid {% endif %}" type="password" name="password2"
                       placeholder="{% trans 'Confirm your password' %}">
                <p style="color: red !important; font-size:11pt;" id="confirmHelp">Repita e Confirme sua senha!</p>
            </div>

            <input class="btn btn-success" type="submit" name="signup" value="{% trans 'Sign Up' %}">
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
            <br>
            <a href="{% url 'home' %}">Página Inicial</a>
        </div>
        <p sytle="font-size: 10pt !important;">Centro de Gestão em Tecnologia da Informação do Amapá - PRODAP.</p>

    </div>
    <div class="col-md-4 col-12"></div>
</div>


</body>
</html>