.header-prodap {
    padding: 10px;
    text-align: center;
    display: flex;
    color: white;
    flex-direction: row;
	  justify-content: space-between;

}

.login-view {
    line-height: 2;
}

.image-amapa img {
    width: 50%;
}
.image-amapa {
    margin-right: auto;
}

.wikilegis {
  display: flex;
  height: 100%;
  transition: transform .5s .2s $swift-out;

  @include breakpoint($medium-down){
    flex-wrap: wrap;
    overflow: auto;
    overflow: overlay;
  }

  &[data-bill-open="true"] {
    transform: translateX(-50%);
    transition: transform .5s .0s $swift-out;

    @include breakpoint($medium-down) {
      transform: initial;
    }

    .wikilegis__bill-list {
      overflow: hidden;

      & li:last-child {
        @include breakpoint($small-only) {
          padding-bottom: 5rem;
        }
      }
    }

    .wikilegis__bill-list::after {
      opacity: .5;
      transition: opacity .5s 0s $swift-out, z-index 0s 0s;
      z-index: 0;
    }

    .wikilegis__bill {
      transform: translateX(50%);
      transition: transform .75s .0s $swift-out;

      @include breakpoint($medium-down) {
        transform: translateX(0%);
      }
    }
  }
}

.wikilegis__banner {
  align-items: center;
  background: url("/static/images/bg.png") 0 0 no-repeat fixed;

  display: flex;
  flex: 0 0 45%;
  justify-content: center;
  overflow: hidden;
  position: relative;


  @include breakpoint($medium-down) {
    flex: 1 auto;
  }

  .banner__particle-background {
    bottom: -10%;
    left: -10%;
    position: absolute;
    right: -10%;
    top: -10%;
    z-index: 0;
  }

  .banner__logo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.5em;
    pointer-events: none;
    max-width: 20em;
    width: 100%;

    @include breakpoint($small-only) {
      max-width: 15em;
    }
  }

  .logo__image {
    margin-bottom: 0.5em;
    width: calc(80% - 4em);
    text-align: center;
  }

  .logo__text {
    width: 100%;
  }

  .banner__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em 4em;
    z-index: 0;
  }

  .banner__info {
    color: white;
    text-align: center;
  }

  .banner__header {
    pointer-events: none;
    color: #7bcedf;
    font-weight: 800;
  }

  .banner__text {
    font-size: 1em;
  }

  .banner__search {
    pointer-events: all;
    padding: 0.5em 1em;
    border-radius: 5em;
    border: 1px solid #7bcedf;
    background: transparent;
    color: $color-gray-95;
  }
}

.wikilegis__bill-list {
  display: flex;
  flex: 0 0 55%;
  flex-direction: column;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: overlay;
  padding: 0;
  position: relative;

  @include breakpoint($medium-down) {
    flex: 1 auto;
    overflow: hidden;
  }

  &::after {
    background-color: $color-black;
    bottom: 0;
    content: '';
    height: 100vh;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .5s .2s $swift-out, z-index 0s .5s;
    width: 100vw;
    z-index: -1;
  }

  [class^="bill-list__item"] {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 0 0 auto;
    padding: 1.5em 0;

    @include breakpoint($small-only) {
      flex-direction: column;
      text-align: center;
      padding: 1.5em 2.5em;
    }

    + [class^="bill-list__item"] {
      border-top: .25em solid hsla(0, 0%, 85%, 1);
    }
  }

  .bill-list__item--closed {
    background-color: $color-gray-90;

    & [class^="item__icon"] {
      background-color: white;
      color: $color-gray-90;
    }

    & .item__title {
      color: $color-gray-75;
    }

    & .item__description {
      color: $color-gray-75;
      font-weight: 400;
    }

    & .suggestions__amount {
      color: $color-gray-75;
    }

    & .suggestions__label {
      color: $color-gray-75;
    }
  }



  .item__main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  .item__category {
    align-items: center;
    display: flex;
    flex: 0 0 8em;
    justify-content: center;
  }

  [class^="item__icon"] {
    align-items: center;
    background-color: #2cd27e;
    border-radius: 50%;
    color: white;
    display: inline-flex;
    font-size: 2.2em;
    height: 2em;
    justify-content: center;
    text-align: center;
    width: 2em;
  }

  @each $category in $categories {
    .item__icon--#{$category} {
      background-color: color-category($category);
    }
  }

  .item__description {
    font-weight: 300;
    margin: 0;
  }

  .item__title {
    color: #264040;
    font-size: 1.5em;
    font-weight: 800;
    margin: 0 0 1rem;
  }

  .item__suggestions {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 0 0 12em;
    justify-content: center;
  }

  .suggestions__amount {
    color: #2cd27e;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .suggestions__label {
    color: #264040;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.bill__state {
  color: hsla(0, 0%, 40%, 1);
  font-size: .85em;
  margin: 1em 0 0;
}

[class^="state__status"] {
  border-left: .25em solid;
  margin: 0 0 .25em;
  padding: 0 0 0 .25em;
}

.state__status--open {
  border-color: $color-accent;
}

.state__status--close {
  border-color: $color-alert-error;
}

.bill__state-closed {
  color: $color-alert-error;
  font-weight: 800;
  text-transform: uppercase;
}

.wikilegis__bill {
  display: flex;
  height: 100%;
  left: 150px;
  overflow: hidden;
  position: absolute;
  transform: translateX(100%);
  transition: transform .75s .2s $swift-out;
  width: calc(100% - 100px);

  @include breakpoint($medium-down) {
    left: 0;
    overflow: visible;
    position: fixed;
    transform: translateX(190%);
    width: 100%;
  }
}
