{% load static i18n %}

<section id="segment-list-search" class="bill__content" data-content="bill" data-bill="{{bill.id}}" data-remove-content>
  <div class="content__header">
    <div class="header__section-top">
      {% get_media_prefix as MEDIA_URL %}
      <div class="cont_header_logo">
        <img class="header__logo" src="{{ MEDIA_URL }}{{ config.COAT_OF_ARMS_IMAGE }}" alt="{% trans 'Coat of arms of the republic' %}" />

      </div>
      <br>

      <div class="header__title">
        <h1 class="title__name">{{bill.title}}</h1>
        <h2 class="title__epigraph">{{bill.epigraph}}</h2>
      </div>
    </div>

    <p class="header__description">{{bill.description}}</p>
  </div>

  <ol class="content__segments">
    {% for segment in bill.segments.all %}
      {% include "segment/_index.html" with segment=segment %}
    {% endfor %}
  </ol>
</section>
