{% load static i18n %}

<li class="bill-list__item{% if bill.status == 'closed' %}--closed{% endif %}" data-drawer-open="bill" data-bill="{{bill.id}}">
  <div class="item__category">
    <img class="item__icon" src="{{ bill.theme.icon.url }}" alt="{{ bill.theme.slug }}">
  </div>
  <div class="item__main">

    {% if bill.status == 'closed' %}
      <span class="bill__state-closed">
        {% trans "Participations closed on" %} <span class="item__close-date">{{bill.closing_date|date:'d/m/Y'}}</span>
      </span>
    {% endif %}

    <h4 class="item__title">{{bill.title}}</h4>
    <p class="item__description">{{bill.description}}</p>

    {% if not bill.status == "closed" %}
      <div class="bill__state">
        <div class="state__status--open">
          {% trans "Created on" %} <span class="state__open-date">{{bill.created|date:'d/m/Y'}}</span>
        </div>

        <div class="state__status--close">
          {% trans "Closes on" %} <span class="state__close-date">{{bill.closing_date|date:'d/m/Y'}}</span>
        </div>
      </div>
    {% endif %}

  </div>
  <div class="item__suggestions">
    <span class="suggestions__amount">{{bill.amendments_count}}</span>
    <span class="suggestions__label">{% trans 'Suggestions' %}</span>
  </div>
</li>
