.bill__content-wrapper {
  background-color: $color-gray-95;
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-y: overlay; // Favor 'overlay' in the cascade for supported browsers
  overflow-x: hidden;
  will-change: transform;

  .content__close {
    color: $color-gray-55;
    cursor: pointer;
    font-size: 2em;
    left: .5em;
    position: absolute;
    top: .5em;
    transition: color .2s $swift-out;

    &:hover {
      color: $color-accent;
    }

    * { pointer-events: none; }
  }
}

.bill__content {
  padding: 4em;

  @include breakpoint($small-only) {
    padding: 1em;
    padding-bottom: 5rem;
  }

  .content__header {
    display: flex;
    flex-direction: column;
    padding: 0 3em;

    @include breakpoint($small-only) {
      padding: 0;
      align-items: center;
    }
  }

  .header__section-top {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint($small-only) {
      padding: 0;
      justify-content: center;
    }
  }
  .cont_header_logo {
      width: 100vw;
      text-align: center;
  }
  .header__logo {
    height: 5em;
  }

  .header__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    text-align: center;
    margin-left: 1em;
  }

  .title__name {
    margin: 0 0 .2em;
  }

  .title__epigraph {
    font-weight: 400;
    margin: 0;
  }

  .content__segments {
    margin-top: 2em;
    padding: 0;

    & li:last-child {
      @include breakpoint($small-only) {
        margin-bottom: 5rem;
      }
    }
  }
}
