<!DOCTYPE html>
{% load staticfiles compress i18n %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">

    {% block extrameta %}
    {% endblock %}

    <title>{% block title %}Novos Caminhos{% endblock %}</title>
    {% block styles %}
      {% compress css %}
      <link type="text/x-scss" rel="stylesheet" href="{% static 'styles/app.scss' %}"/>
      {% endcompress %}
    {% endblock styles %}

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    {% block extra_styles %}{% endblock extra_styles %}
  </head>

  <body>
    <div class="header-prodap">
      <div class="image-amapa">
        <img src="{% static 'images/gea.png'%}" alt="Logo do Governo do Estado do Amapá">
      </div>
      <!-- Begin authentication without stylesheet -->
      <div class="login-view">
        {% if request.user.is_authenticated %}
        <a style="color:black">Olá, {{ request.user.first_name }} </a><a class="button" role="button" href="{% url 'logout' %}?next={% url 'home' %}"> Sair</a>
        {% else %}
          <a class="button js-login-button" role="button" href="{% url 'login' %}">Login</a>
          <a class="button js-login-button" role="button" href="{% url 'register' %}">Registrar</a>
        {% endif %}
      </div>

      <!-- End authentication -->
    </div>
    <div class="wikilegis__alert hidden" data-wikilegis-alert>
      <i class="alert__dismiss icon icon-times" data-dismiss-alert="true"></i>
      <h1 class="alert__header" data-alert-header></h1>
      <p class="alert__text" data-alert-text></p>
    </div>

    {% block content %}
    {% endblock content %}

    <script>
      var strings = {
        emptyCommentTitle: "{% trans 'Oops' %}",
        emptyCommentText: "{% trans 'You cannot send an empty comment :(' %}",
        emptyAmendmentTitle: "{% trans 'Oops' %}",
        emptyAmendmentText: "{% trans 'You cannot send an empty amendment :(' %}",
        sameAsSegmentTitle: "{% trans 'Oops' %}",
        sameAsSegmentText: "{% trans 'Your suggestion has the same text of original segment' %}",
        userNotLoggedInTitle: "{% trans 'User not logged in' %}",
        userNotLoggedInText: "<a href=\"{% url 'login' %}\">{% trans 'Click here' %}</a> {% trans 'to log in' %}",
      };
      var prefixURL = '{{prefix_url|default_if_none:""}}';
      var segmentsList = null;
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142744385-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-142744385-1');
    </script>

    {% block javascript %}
      {% compress js %}
        <script type="module" src="{% static 'javascript/app.js' %}"></script>
      {% endcompress %}
    {% endblock javascript %}

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
