{% extends "base.html" %}
{% load staticfiles i18n %}

{% block content %}

<main id="bill-list-search" class="wikilegis" data-bill-open="false">
  <div class="wikilegis__banner">
    <div class="banner__particle-background" id="particles-js"></div>
    <div class="banner__content">
      <div class="banner__logo">
        <img class="logo__image" src="{% static 'images/marca_governo.png' %}">
      </div>
      <div class="banner__info">
        <h3 class="banner__header">{{ config.SUBTITLE }}</h3>
        <p class="banner__text">
          Conecte-se ao planejamento dos novos caminhos para o desenvolvimento do Amapá. 
          Sua participação é fundamental para a definição das prioridades, 
          iniciativas e soluções em cada um dos 5 eixos que compõem o principal 
          instrumento de planejamento dos próximos 4 anos. Uma direção construída de forma coletiva, 
          integrada aos <a style="text-decoration:none; color:white; font-weight: bold;" href="https://nacoesunidas.org/conheca-os-novos-17-objetivos-de-desenvolvimento-sustentavel-da-onu/" target="_blank">Objetivos do Desenvolvimento Sustentável</a>, em busca de um novo ciclo de desenvolvimento e prosperidade para o Amapá.
        </p>
        
        <input class="banner__search" placeholder="{% trans 'Search' %}" />
      </div>
    </div>
  </div>

  <ul class="wikilegis__bill-list" data-drawer-close="bill">
    {% for bill in open_private_bills %}
      {% include "bill/_list-item.html" with bill=bill %}
    {% endfor %}
    {% for bill in open_bills %}
      {% include "bill/_list-item.html" with bill=bill %}
    {% endfor %}
    {% for bill in closed_private_bills %}
      {% include "bill/_list-item.html" with bill=bill %}
    {% endfor %}
    {% for bill in closed_bills %}
      {% include "bill/_list-item.html" with bill=bill %}
    {% endfor %}
  </ul>

  <div class="wikilegis__bill">
    <div class="bill__info-wrapper">
      <div class="loader" data-loading="false"></div>
    </div>

    <div class="bill__content-wrapper">
      <a class="content__close" data-drawer-close="bill" role="button" title="{% trans 'back' %}" tabindex="0">
        <i class="close__icon icon icon-arrow-left"></i>
      </a>
      <div class="loader" data-loading="false"></div>

      <div class="segment-add">
        <span class="segment-add__line"></span>
        <i class="segment-add__icon icon icon-plus"></i>
        <span class="segment-add__line"></span>
      </div>
    </div>

    {% include "bill/_amendment_wrapper.html" %}

  </div>
</main>
{% endblock content %}
